:root {
    --color-background: #008DD5;
    --color-2: #E2E4E0;
    /* --color-2: #E7E9EE; */
    --color-accent: #fc605d;
    /* --color-accent2: #008DD5; */
    /* --color-accent2: #0064ff; */
}

body {
    margin: 0;
    padding: 0;
    font-family: Hack, monospace;
    background: var(--color-background); 
    color: var(--color-2);
}

aside, main, header, footer {
    box-shadow: var(--color-2) 4px 4px; 
    border: 1px solid var(--color-2);
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: var(--color-2);
}

div.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header, footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--color-accent);
}

header h1, footer p {
    color: var(--color-2);
}

header h1 {
    text-shadow: var(--color-background) 6px 4px 0px;
}

footer p {
    text-shadow: var(--color-background) 4px 2px 0px;
}

nav {
    display: flex;
    flex-direction: column;
    display: none;
}

.nav-toggle {
    display: none;
}

/* Desktop view */
@media screen and (min-width: 600px) {
    .nav-toggle-label {
        display: none;
    }

    nav {
        display: flex;
    }

    div.main-container {
        display: flex;
        flex-direction: row;
    }

    aside {
        flex-basis: 200px;
        flex-shrink: 1;
        flex-grow: 1;
        display: block;
    }

    main {
        flex-basis: calc(100vw - 350px);
        flex-grow: 1;
        flex-shrink: 1;
    }
}

/* Desktop view */
@media screen and (max-width: 600px) {
    .nav-toggle-label {
        display: block;
        cursor: pointer;
    }

    div.main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-toggle:checked~nav {
        display: flex;
    }

    nav {
        text-align: center;
    }
}