:root {
    --color-primary: #008DD5;
    --color-secondary: #fc605d;
    --color-neutral: #E2E4E0;;
}

body {
    margin: 0;
    padding: 0;
    font-family: Hack, monospace;
    background: var(--color-primary); 
    color: var(--color-neutral);
}

aside, main, header, footer {
    box-shadow: var(--color-neutral) 4px 4px; 
    border: 1px solid var(--color-neutral);
    filter: blur(.4px);
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: var(--color-neutral);
}

div.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header, footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: var(--color-secondary);
}

header h1, footer p {
    color: var(--color-neutral);
}

header h1 {
    text-shadow: var(--color-primary) 6px 4px 0;
}

footer p {
    text-shadow: var(--color-primary) 4px 2px 0;
}

nav {
    flex-direction: column;
    display: none;
}

.nav-toggle {
    display: none;
}

.button {
    box-shadow: 4px 4px 0 0 var(--color-neutral); 
    border: 1px solid var(--color-neutral);
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
}

.button:active {
    box-shadow: none;
    transform: translate(4px, 4px);
}

/* Desktop view */
@media screen and (min-width: 600px) {
    .nav-toggle-label {
        display: none;
    }

    nav {
        display: flex;
    }

    div.main-container {
        display: flex;
        flex-direction: row;
    }

    aside {
        flex-basis: 200px;
        flex-shrink: 1;
        flex-grow: 1;
        display: block;
    }

    main {
        flex-basis: calc(100vw - 350px);
        flex-grow: 1;
        flex-shrink: 1;
    }
}

/* Desktop view */
@media screen and (max-width: 600px) {
    .nav-toggle-label {
        display: block;
        cursor: pointer;
    }

    div.main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-toggle:checked~nav {
        display: flex;
    }

    nav {
        text-align: center;
    }
}